In [1]:
import numpy as np

import pandas as pd

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

from sqlalchemy import extract

In [2]:
db_engine = create_engine("sqlite:///hawaii.sqlite")

Base = automap_base()
Base.prepare(db_engine, reflect=True)

Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
db_session = Session(db_engine)

In [4]:
results = db_session.query(Measurement.tobs).filter(Measurement.date.regexp_match('^\d{4}\-06')).all()

In [5]:
list_results = list(results)

In [6]:
df_temps_june = pd.DataFrame(list_results)

In [7]:
df_temps_june.describe()

                 0
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

In [8]:
results = db_session.query(Measurement.tobs).filter(Measurement.date.regexp_match('^\d{4}\-12')).all()
list_results = list(results)
df_temps_december = pd.DataFrame(list_results)
df_temps_december.describe()

                 0
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000

In [9]:
results_june = db_session.query(Measurement.prcp).filter(Measurement.date.regexp_match('^\d{4}\-06')).all()
results_december = db_session.query(Measurement.prcp).filter(Measurement.date.regexp_match('^\d{4}\-12')).all()
list_results_june = list(results_june)
list_results_december = list(results_december)
df_precip_june = pd.DataFrame(list_results_june)
df_precip_december = pd.DataFrame(list_results_december)
df_precip_june.describe()

                 0
count  1574.000000
mean      0.136360
std       0.335731
min       0.000000
25%       0.000000
50%       0.020000
75%       0.120000
max       4.430000

In [10]:
df_precip_december.describe()

                 0
count  1405.000000
mean      0.216819
std       0.541399
min       0.000000
25%       0.000000
50%       0.030000
75%       0.150000
max       6.420000